.dockerignore
.editorconfig
.git
.gitignore
.nvmrc
.prettierignore
.prettierrc
config/development.json
config/test.json
coverage
Dockerfile
jest.config.js
LICENSE.txt
node_modules
README.md
src/**/__tests__
