- const config = require("config")
- const typography = require("./views/typography")
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Offers | #{config.get("name")}
    style!= typography
  body
    main
      block content
